# vim: ts=2 sw=2 et ft=toml

[theme]
  name = "gruvbox-dark"

[icons]
  name = "awesome5"

[icons.overrides]
  cpu = " ï‚€ "

[[block]]
  block = "disk_space"
  path = "/"
  info_type = "free"
  format = "{icon} {free}"
  unit = "GB"

[[block]]
  block = "disk_space"
  path = "/media/Data1"
  info_type = "available"
  format = "{icon} {free}"
  unit = "TB"

[[block]]
  block = "disk_space"
  path = "/media/Data2"
  info_type = "available"
  format = "{icon} {free}"
  unit = "TB"

[[block]]
  block = "disk_space"
  path = "/media/ssdcache"
  info_type = "free"
  format = "{icon} {free}"
  unit = "GB"

[[block]]
  block = "net"
  device = "enp35s0"
  format = "{ip}"
  interval = 1

[[block]]
  block = "cpu"
  interval = 1
  format = "{barchart} {utilization}% {frequency}"

[[block]]
  block = "sound"
  step_width = 1

[[block]]
  block = "music"
  buttons = ["play", "next"]

[[block]]
  block = "temperature"
  collapsed = false
  interval = 10
  format = "{min} min, {max} max, {average} avg"
  chip = "*-isa-*"
  inputs = ["CPUTIN", "SYSTIN"]

[[block]]
  block = "time"
  format = "%A %v %T"
  timezone = "Europe/Zurich"
  interval = 1
